{% extends "base.html" %}

{% block head%}
<!-- <link href="../static/css/signin.css" rel="stylesheet"> -->
<style>
#homeContent {
  padding: 5%;
}
</style>

{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container" id="homeContent" align="center">
    {% for line in data %}
    <div class="card w-50 shadow-sm" style="width: 18rem;">
      <div class="card-body" align="left">
        <h5 class="card-title">{{line.photoPoster}}</h5>
      </div>
      <img src={{line.filepath}} class="card-img-top">
      <div class="card-body" align="left">
        <p class="card-text">
          <b>{{line.photoPoster}}</b>
          {{line.caption}}
        </p>

        <div class="row">
          <div class="col">
            <text style="color: grey;">{{line.postingdate}}</text>
          </div>
          <div class="col" align="right">
            <button class="btn btn-light btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Details
            </button>
          </div>
        </div>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            ID: {{line.photoID}}
          </div>
        </div>


        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
    <br>
    {% endfor %}
</div>

{% endblock %}
