{% extends "base.html" %}

{% block head%}
<!-- <link href="../static/css/signin.css" rel="stylesheet"> -->
<style>
#formContainer {
  padding-top: 10%;
  border:
}
</style>

{% endblock %}

{% block title %}
Login
{% endblock %}

{% block content %}
<center>
  {% if error %}
  <div class="alert alert-warning" role="alert">Error: {{error}}</div>
  {% endif %}

  {% if message %}
  <div class="alert alert-success" role="alert">{{message}}</div>
  {% endif %}
</center>

<div id="formContainer" class="container">
  <div class="row justify-content-center">
    <form class="form-signin" action='/login' method="POST">
      <center><h1 class="h3 mb-3 font-weight-normal">Log In</h1></center>
      <input type="text" class="form-control" placeholder="Username" name="username" required autofocus>
      <input type="password" class="form-control" placeholder="Password" name="password" required>
      <br>
      <center><button class="btn btn-lg btn-primary btn-block" type="submit" value="Login" name="login">Log In</button></center>
      <br>
      <small> Don't have an account? <a href="/register">Register here.</a></small>
    </form>
  </div>
</div>
{% endblock %}
