{% extends "base.html" %}

{% block head%}
<!-- <link href="../static/css/signin.css" rel="stylesheet"> -->
<style>
#profile {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 5%;
  padding-bottom: 5%
}
</style>

{% endblock %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="container" id="profile">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{data.username}}</h1>
      </div>
      <div class="col" align="right">
        <a href="/logout" class="btn btn-dark btn-sm" role="button" aria-pressed="true">Log Out</a>
      </div>
    </div>
  </div>
  <hr>
</div>


{% endblock %}
