{% extends "profile.html" %}

{% block head%}
<!-- <link href="../static/css/signin.css" rel="stylesheet"> -->
<style>
#profile {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%
}

#taggedtab {
  text-decoration: underline;
}


</style>


{% endblock %}

{% block title %}
Home
{% endblock %}

{% block subcontent %}
<div align="right">
  <a href="/tags" class="btn btn-light btn-sm" role="button" style="margin-right:1%">View Tag Requests</a>
</div>
<div class="album py-5">
    <div class="container">
      <div class="row">
        {% for photo in taggedphotos %}
        <div class="col-md-4">
          <div col="row">
            <div class="card mb-4 shadow-sm square">
              <img src={{photo.filepath}} class="card-img">
            </div>
          </div>
          <div col="row" align="center">
            <form class="form-signin" action='/details' method="POST">
              <input type="hidden" name="photoID" value={{photo.photoID}}>
              <button class="btn btn-light" type="submit" value="details" name="details">Details</button>
            </form>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
